:root {
    --lightTheme: #efefef;
    --darkTheme: #1e1e1e;
    --fontLight: #1e1e1e;
    --fontDark: #efefef;
}

.contact-section {
    width: 100%;
    /* height: 100vh; */
    background-color: var(--lightTheme);
    color: var(--fontLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    z-index: 1;
}

.contact-main-div.darkTheme {
    background-color: var(--darkTheme);
    color: var(--fontDark);
}

.contact-main-div {
    width: 100%;
    height: 100%;
    background-color: var(--lightTheme);
    color: var(--fontLight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
    padding: 0 6rem;
}

.contact-main-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-div {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.photo-contact {
    width: 150px;
    height: 150px;
    background: var(--darkTheme);
    margin-right: 10rem;
    border-radius: 50%;
}

.contact-main-div h1 {
    width: 75%;
}

.contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* form div */
.form-div {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.label-div {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
    border-top: 1px solid var(--darkTheme);
}

.label-div.darkTheme {
    border-top: 1px solid var(--lightTheme);
}

.label-div label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3rem;
}

.label-div label.darkTheme {
    color: var(--fontDark);
}

.label-div input {
    width: 100%;
    /* height: 100%; */
    border: none;
    background-color: transparent;
    color: var(--fontLight);
    font-size: 1.3rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    outline: none;
    margin: 0.1rem;
}

.label-div input.darkTheme {
    color: var(--fontDark);
}


.label-div-textarea {
    height: 15rem;
}

.label-div textarea {
    width: 100%;
    height: 8rem;
    border: none;
    background-color: transparent;
    color: var(--fontLight);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0 0.5rem 0.5rem;
    outline: none;
    margin: 0.1rem;
    resize: none;
}

.label-div textarea.darkTheme {
    color: var(--fontDark);
}

/* .label-div-button {
    height: 15rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000;
} */

/* CSS */
.label-div button {
    position: relative;
    line-height: 50px;
    height: 50px;
    width: 250px;
    cursor: pointer;
    align-self: center;
    background-image: linear-gradient(
        92.88deg,
        #455eb5 9.16%,
        #5643cc 43.89%,
        #673fd7 64.72%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.label-div button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    .label-div button {
        padding: 0 2.6rem;
    }
}

/* Other Details */

.contact-details {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.div-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 15%;
}

.div-details h1 {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

.div-details h1.darkTheme {
    color: rgba(255, 255, 255, 0.4);
}

.div-details a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--fontLight);
    margin: 0.5rem 0;
    font-size: 1.3rem;
}

.div-details a.darkTheme {
    color: var(--fontDark);
}