* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
} */

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}

.nav {
    position: fixed;
    color: #efefef;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.social-media-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 8%;
    z-index: 1000;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
}

.social-media-section a {
    color: #efefef;
    mix-blend-mode: difference;
    text-decoration: none;
    transform: rotate(90deg);
    user-select: none;
}

body {
    position: relative;
    background-color: #1e1e1e;
}

.nav-a {
    font-size: 2rem;
    color: #efefef;
    text-decoration: none;
    margin: 2rem;
}

.nav-hambugger {
    cursor: pointer;
}

.nav-active.nav-container {
    transform: translateY(0);
}

.nav-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    z-index: 100;
    transform: translateY(-100%);
    /* transform: translateY(0); */
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.container-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    padding: 5rem;
    overflow: hidden;
}

.container-div a {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    color: #efefef;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 1px dotted #efefef;
}

/* mouse hover boxes */

.mouse-box1 {
    /* width: 250px;
    height: 300px; */
    position: fixed;
    font-size: 8rem;
    border-radius: 15px;
    z-index: 999;
    transition: all 0.1s linear;
    /* display: none; */
    opacity: 0;
    user-select: none;
    pointer-events: none;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: transparent;
    transition: opacity 0.3s linear;
}
