* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

:root {
    --lightTheme: #efefef;
    --darkTheme: #1e1e1e;
    --fontLight: #1e1e1e;
    --fontDark: #efefef;
}

/* ::-webkit-scrollbar-track {
    background-color: #e4e4e4;
} */

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}

/* toggle */

.switch-label {
    width: 150px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: "OFF";
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: "ON";
    color: #fff;
    background-color: #111111;
    box-shadow: 3px 3px 5px var(--darkTheme);
}

/* toggle ends */

.nav {
    position: fixed;
    color: var(--fontLight);
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav.darkTheme {
    color: var(--fontDark);
}

.social-media-section {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 8%;
    z-index: 1000;
    font-size: 1.2rem;
    bottom: 0;
    right: 0;
}

.social-media-section a {
    color: var(--fontLight);
    mix-blend-mode: difference;
    text-decoration: none;
    transform: rotate(90deg);
    user-select: none;
}

.social-media-section a.darkTheme {
    color: var(--fontDark);
}

body {
    position: relative;
    background-color: var(--lightTheme);
}

.nav-a {
    font-size: 2rem;
    color: var(--fontLight);
    text-decoration: none;
    margin: 2rem;
}

.nav-a.darkTheme {
    color: var(--fontDark);
}

.nav-hambugger {
    cursor: pointer;
}

.nav-active.nav-container {
    transform: translateY(0);
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightTheme);
    z-index: 100;
    transform: translateX(-100%);
    /* transform: translateY(0); */
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.nav-container.darkTheme {
    background-color: var(--darkTheme);
}

.container-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    padding: 5rem;
    overflow: hidden;
}

.container-div a {
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    color: var(--fontLight);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 1px dotted var(--darkTheme);
}

.container-div a.darkTheme {
    color: var(--fontDark);
    border-bottom: 1px dotted var(--lightTheme);
}

/* mouse hover boxes */

.mouse-box1 {
    /* width: 250px;
    height: 300px; */
    position: fixed;
    font-size: 8rem;
    border-radius: 15px;
    z-index: 999;
    transition: all 0.1s linear;
    /* display: none; */
    opacity: 0;
    user-select: none;
    pointer-events: none;
    -webkit-text-stroke: 1px var(--darkTheme);
    color: transparent;
    transition: opacity 0.3s linear;
}

.mouse-box1.darkTheme {
    -webkit-text-stroke: 1px var(--fontDark);
}
