<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../public/images/favicon/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../public/stylesheet/nav.css" />
        <link rel="stylesheet" href="../public/stylesheet/contact.css" />
        <title>Contact Us | Yuplez</title>
    </head>
    <body>
        <nav>
            <div class="nav">
                <a class="nav-a">Yuplez</a>
                <img
                    class="nav-hambugger"
                    src="https://img.icons8.com/ios-glyphs/40/ffffff/menu--v1.png"
                />
            </div>
            <section class="nav-container">
                <div class="mouse-box1">
                    <h1 class="changing-text">Home</h1>
                </div>
                <div class="container-div">
                    <a class="navAtag navAtag1" href="">Home</a>
                    <a class="navAtag navAtag2" href="">About</a>
                    <a class="navAtag navAtag3" href="">Contact</a>
                    <a class="navAtag navAtag4" href="">Login</a>
                    <a class="navAtag navAtag5" href="">Register</a>
                </div>
            </section>
            <section class="social-media-section">
                <a href=""> Instagram </a>
                <a href=""> Linkedin </a>
                <a href=""> Email </a>
            </section>
        </nav>

        <section class="contact-section">
            <div class="contact-main-div">
                <div class="contact-div">
                    <div>
                        <h1>Let's start a project together</h1>
                    </div>
                    <div class="photo-contact"></div>
                </div>
                <div class="contact-container">
                    <div class="form-div">
                        <form action="">
                            <div class="label-div">
                                <label for="fullName">What's your name?</label>
                                <input
                                    type="text"
                                    id="fullName"
                                    name="fullName"
                                    placeholder="Tony Stark"
                                />
                            </div>
                            <div class="label-div">
                                <label for="email">What's your email?</label>
                                <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    placeholder="abc@gmail.com"
                                />
                            </div>
                            <div class="label-div">
                                <label for="serviceForm"
                                    >What services are you looking for?</label
                                >
                                <input
                                    type="text"
                                    id="serviceForm"
                                    name="serviceForm"
                                    placeholder="Web Development , Mobile Development"
                                />
                            </div>
                            <div class="label-div label-div-textarea">
                                <label for="message"
                                    >What's your message?</label
                                >
                                <textarea
                                    id="message"
                                    name="message"
                                    placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat iste illum, quod nobis ipsam porro sit similique in reiciendis accusantium recusandae id sunt repellat molestias nulla aliquid! Cum, consequuntur ipsam."
                                ></textarea>
                            </div>
                            <div class="label-div label-div-button">
                                <button class="div-button" type="submit">
                                    <span class="label-div-span"></span>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-details">
                        <div class="div-details">
                            <h1>Contact Details</h1>
                            <a href="mailto:yuplezinnovations@gmail.com"
                                >yuplezinnovations@gmail.com</a
                            >
                            <a href="tel:8667057114">8667057114</a>
                        </div>
                        <div class="div-details">
                            <h1>Socials</h1>
                            <a href="">Instagram</a>
                            <a href="">Linkedin</a>
                            <a href="">Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="../public/javascript/tilt.js"></script>
        <script src="../public/javascript/contact.js"></script>
        <script src="../public/javascript/nav.js"></script>
    </body>
</html>
