<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../public/images/favicon/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../public/stylesheet/nav.css" />
        <link rel="stylesheet" href="../public/stylesheet/projects.css" />
        <title>Projects | Yuplez</title>
    </head>

    <body>
        <nav>
            <div class="nav">
                <a class="nav-a">Yuplez</a>
                <img
                    class="nav-hambugger"
                    src="https://img.icons8.com/ios-glyphs/40/1e1e1e/menu--v1.png"
                />
                <a class="toggle-button">Toggle</a>
            </div>
            <section class="nav-container">
                <div class="mouse-box1">
                    <h1 class="changing-text">Home</h1>
                </div>
                <div class="container-div">
                    <a class="navAtag navAtag1" href="../index.html">Home</a>
                    <a class="navAtag navAtag2" href="../index.html#services"
                        >Services</a
                    >
                    <a class="navAtag navAtag3" href="./contact.html"
                        >Contact</a
                    >
                    <a class="navAtag navAtag4" href="./projects.html"
                        >Projects</a
                    >
                    <!-- <a class="navAtag navAtag5" href="">Register</a> -->
                </div>
            </section>
            <section class="social-media-section">
                <a href=""> Instagram </a>
                <a href=""> Linkedin </a>
                <a href=""> Email </a>
            </section>
        </nav>

        <section class="projects-section projects-section1">
            <div class="main-div-projects main-div-projects1">
                <div class="container-projects container-projects1"></div>
                <div class="image-projects image-projects1">
                    <video
                        autoplay
                        muted
                        loop
                        class="image-projects-video image-projects-video1"
                    >
                        <source
                            src="../public/images/videos/videos2.mp4"
                            type="video/mp4"
                        />
                    </video>
                </div>
                <div class="content-projects content-projects1">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam, itaque unde. Perferendis corrupti vitae
                        laudantium error repellendus mollitia rem, soluta culpa,
                        necessitatibus esse alias quod tenetur excepturi quidem
                        libero ratione. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Totam, itaque unde. Perferendis
                        corrupti vitae laudantium error repellendus mollitia
                        rem, soluta culpa, necessitatibus esse alias quod
                        tenetur excepturi quidem libero ratione.
                    </p>
                </div>
            </div>
        </section>

        <section class="projects-section projects-section2">
            <div class="main-div-projects main-div-projects2">
                <div class="container-projects container-projects2"></div>
                <div class="image-projects image-projects2">
                    <video
                        autoplay
                        muted
                        loop
                        class="image-projects-video image-projects-video2"
                    >
                        <source
                            src="https://vod-progressive.akamaized.net/exp=1658764022~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F1757%2F7%2F183788428%2F604923646.mp4~hmac=4f0b21eaddfce1d9cd38bc0fb9df91d0f104edb8933154fcf4387fe0c797c984/vimeo-prod-skyfire-std-us/01/1757/7/183788428/604923646.mp4"
                            type="video/mp4"
                        />
                    </video>
                </div>
                <div class="content-projects content-projects2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam, itaque unde. Perferendis corrupti vitae
                        laudantium error repellendus mollitia rem, soluta culpa,
                        necessitatibus esse alias quod tenetur excepturi quidem
                        libero ratione. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Totam, itaque unde. Perferendis
                        corrupti vitae laudantium error repellendus mollitia
                        rem, soluta culpa, necessitatibus esse alias quod
                        tenetur excepturi quidem libero ratione.
                    </p>
                </div>
            </div>
        </section>

        <section class="projects-section projects-section3">
            <div class="main-div-projects main-div-projects3">
                <div class="container-projects container-projects3"></div>
                <div class="image-projects image-projects3">
                    <video
                        autoplay
                        muted
                        loop
                        class="image-projects-video image-projects-video3"
                    >
                        <source
                            src="../public/images/videos/videos2.mp4"
                            type="video/mp4"
                        />
                    </video>
                </div>
                <div class="content-projects content-projects3">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Totam, itaque unde. Perferendis corrupti vitae
                        laudantium error repellendus mollitia rem, soluta culpa,
                        necessitatibus esse alias quod tenetur excepturi quidem
                        libero ratione. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Totam, itaque unde. Perferendis
                        corrupti vitae laudantium error repellendus mollitia
                        rem, soluta culpa, necessitatibus esse alias quod
                        tenetur excepturi quidem libero ratione.
                    </p>
                </div>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
        <script src="../public/javascript/projects.js"></script>
        <!-- <script src="../public/javascript/darktheme.js"></script> -->
        <script src="../public/javascript/nav.js"></script>
    </body>
</html>
