<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			href="../public/images/favicon/favicon.ico"
			type="image/x-icon"
		/>
		<!-- <link rel="stylesheet" href="../public/css/nav.css"> -->
		<script src="./public/js/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
		<link rel="stylesheet" href="../public/css/bootstrap.css" />
		<link rel="stylesheet" href="../public/css/fonts.css" />
		<link rel="stylesheet" href="../public/css/footer.css" />
		<link rel="stylesheet" href="../public/css/style.css" />
		<link rel="stylesheet" href="../public/css/hero_section.css" />
		<link rel="stylesheet" href="../public/css/hero.css" />
		<link rel="stylesheet" href="../public/css/nav.css" />
		<link rel="stylesheet" href="../public/css/projects.css" />
		<title>Projects | Yuplez</title>
	</head>
	<body>
		<header>
			<nav class="nav">
				<div class="container">
					<div class="logo">
						<!-- <a href="./index.html">Yuplez</a> -->
						<a href="./index.html">
							<img
								src="../public/images/Logo/Yuplez-logo-mini.png"
								alt=""
							/>
						</a>
					</div>
					<div id="mainListDiv" class="main_list">
						<ul class="navlinks">
							<li>
								<a class="nav_link" href="../index.html#home"
									>Home<span class="span_nav_link"></span
								></a>
							</li>
							<li>
								<a class="nav_link" href="#services"
									>Services<span class="span_nav_link"></span
								></a>
							</li>
							<li>
								<a class="nav_link" href="../index.html#team"
									>Team<span class="span_nav_link"></span
								></a>
							</li>
							<li>
								<a class="nav_link" href="./projects.html"
									>Projects<span class="span_nav_link"></span
								></a>
							</li>
							<li>
								<a
									class="nav_link"
									href="../index.html#contacts"
									>Contact Us<span
										class="span_nav_link"
									></span
								></a>
							</li>
						</ul>
					</div>
					<span class="navTrigger">
						<i></i>
						<i></i>
						<i></i>
					</span>
				</div>
			</nav>
		</header>
		<section class="cardSection">
			<div class="cardSectionDiv">
				<a
					href="https://classicneetacademy.com/"
					target="_blank"
					class="cardsDiv"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/classicNeetAcademy.jpg"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">
								Classic Neet Academy
							</h1>
							<p>Technology used</p>
							<p>EJS, Node Js, MySQL</p>
						</div>
					</div>
				</a>
				<a
					class="cardsDiv"
					href="http://digitranit.com/"
					target="_blank"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/digitranIT.jpg"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">
								Digitran IT Solutions
							</h1>
							<p>Technology used</p>
							<p>HTML, CSS, Javascript</p>
						</div>
					</div>
				</a>
				<a
					class="cardsDiv"
					href="https://trojans--2022.web.app/"
					target="_blank"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/trojans.jpg"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">Trojans</h1>
							<p>Technology used</p>
							<p>React Js, Node Js, RazorPay</p>
						</div>
					</div>
				</a>
				<a
					class="cardsDiv"
					href="http://trekidoo-ub52.onrender.com/"
					target="_blank"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/trekidoo.jpg"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">Trekidoo</h1>
							<p>Technology used</p>
							<p>EJS, Node Js, MySQL</p>
						</div>
					</div>
				</a>
				<a
					class="cardsDiv"
					href="https://andhaathi-rehab.web.app/"
					target="_blank"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/andhathiRehab.png"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">Andhathi Rehab</h1>
							<p>Technology used</p>
							<p>React Js, Firebase</p>
						</div>
					</div>
				</a>
				<a
					class="cardsDiv"
					target="_blank"
					href="https://inventory-managenment-6b76e.web.app/"
				>
					<div class="cardDiv">
						<div class="imageDiv">
							<img
								src="../public/images/projects/inventoryMangement.png"
								alt=""
							/>
						</div>
						<div class="contentDiv">
							<h1 style="font-weight: 700">
								Inventory Management
							</h1>
							<p>Technology used</p>
							<p>React Js, Node Js, Postgresql</p>
						</div>
					</div>
				</a>
			</div>
		</section>

		<footer>
			<div class="footer-div">
				<div class="paragraph-footer">
					<p>Stride towards Sucess</p>
				</div>
				<div class="contact-footer">
					<span class="footer"></span>
					<a href=""><span class="contact"></span>Contact US</a>
				</div>
				<div class="links-main-footer">
					<div class="links-footer">
						<a href="./index.html">Home</a>
						<a href="#services">Services</a>
						<a href="#teams">Teams</a>
						<a href="#contact">Contact Us</a>
					</div>
					<div class="social-footer">
						<a
							target="_blank"
							href="https://www.instagram.com/yuplez_innovations/"
							><img
								src="https://img.icons8.com/ios/30/ffffff/instagram-new--v1.png"
						/></a>
						<a
							target="_blank"
							href="https://www.linkedin.com/in/yuplez-innovations-277143240/"
							><img
								src="https://img.icons8.com/ios/30/ffffff/linkedin-circled--v1.png"
						/></a>
						<a target="_blank" href=""
							><img
								src="https://img.icons8.com/ios/30/ffffff/facebook-new.png"
						/></a>
					</div>
				</div>
				<div class="last-footer">
					<!-- <div class="terms-footer">
                        <a href="./views/terms-and-conditions.html">Terms and Conditions</a>
                    </div> -->
					<div class="copyrights-footer">
						<p>Copyright © YUPLEZ. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="../public/js/core.min.js"></script>
		<script src="../public/js/script.js"></script>
		<script src="../public/js/nav.js"></script>
	</body>
</html>
