<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../public/styles/nav.css" />
        <link rel="stylesheet" href="../public/styles/footer.css" />
        <link rel="stylesheet" href="../public/styles/tech-stack.css" />
        <title>Our Tech Stack | Yuplez</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container container">
                <!-- <h1 class="logo">Yuplez</h1> -->
                <a href="../index.html">
                    <img
                        class="logo light-logo"
                        src="../public/images/Logo/Yuplez-logo-light.png"
                        alt="Yuplez logo"
                    />
                    <img
                        class="logo dark-logo"
                        src="../public/images/Logo/Yuplez-logo-dark.png"
                        alt="Yuplez logo"
                    />
                </a>
                <input type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a class="nav_atag" href="../index.html">Home</a></li>
                    <li>
                        <a class="nav_atag" href="../index.html#about-section"
                            >About</a
                        >
                    </li>
                    <li>
                        <a class="nav_atag" href="./teams.html">Team</a>
                    </li>
                    <li>
                        <a class="nav_atag" href="./services.html">Services</a>
                    </li>
                    <li>
                        <a
                            class="contact_nav nav_atag"
                            href="../index.html#contact-section"
                        >
                            Let's Build</a
                        >
                    </li>
                    <li>
                        <div class="switch-holder-mobile">
                            <div class="switch-toggle-mobile">
                                <input
                                    class="toggle_button-mobile"
                                    type="checkbox"
                                    id="toggle_label-mobile"
                                />
                                <label for="toggle_label-mobile"></label>
                            </div>
                        </div>
                    </li>
                    <div class="switch-holder">
                        <div class="switch-toggle">
                            <input
                                class="toggle_button"
                                type="checkbox"
                                id="toggle_label"
                            />
                            <label for="toggle_label"></label>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>

        <section class="our-tech-stack-section">
            <div class="heading-tech-stack">
                <h1>Our Tech Stack</h1>
            </div>
            <div class="main-tech-stack">
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>HTML</h1>
                        </div>
                        <!-- <p>
                            The HyperText Markup Language or HTML is the
                            standard markup language for documents designed to
                            be displayed in a web browser. It can be assisted by
                            technologies such as Cascading Style Sheets (CSS)
                            and scripting languages such as JavaScript.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            style="width: 80%;"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>CSS</h1>
                        </div>
                        <!-- <p>
                            Cascading Style Sheets (CSS) is a style sheet
                            language used for describing the presentation of a
                            document written in a markup language such as
                            HTML.CSS is a cornerstone technology of the World
                            Wide Web, alongside HTML and JavaScript.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="http://linuxnatives.net/uploads/seravo/2013/06/JavaScript-logo.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Javascript</h1>
                        </div>
                        <!-- <p>
                            JavaScript is a high-level, often just-in-time
                            compiled language that conforms to the ECMAScript
                            standard.It has dynamic typing, prototype-based
                            object-orientation, and first-class functions. It is
                            multi-paradigm, supporting event-driven, functional,
                            and imperative programming styles.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>React Js</h1>
                        </div>
                        <!-- <p>
                            React (also known as React.js or ReactJS) is a free
                            and open-source front-end JavaScript library for
                            building user interfaces based on UI components. It
                            is maintained by Meta (formerly Facebook) and a
                            community of individual developers and companies.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://www.datocms-assets.com/45470/1631026680-logo-react-native.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>React Native</h1>
                        </div>
                        <!-- <p>
                            React Native is an open-source UI software framework
                            created by Meta Platforms. It is used to develop
                            applications for Android, Android TV, iOS, macOS,
                            tvOS, Web, Windows and UWP by enabling developers to
                            use the React framework along with native platform
                            capabilities.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Bootstrap</h1>
                        </div>
                        <!-- <p>
                            Bootstrapping is a self-starting process that is
                            supposed to proceed without external input.
                            Bootstrap (front-end framework), a free collection
                            of tools for creating websites and web applications.
                            Bootstrapping (compilers), the process of writing a
                            compiler in the programming language it is intended
                            to compile.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://d1.awsstatic.com/asset-repository/products/amazon-rds/1024px-MySQL.ff87215b43fd7292af172e2a5d9b844217262571.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>MySQL</h1>
                        </div>
                        <!-- <p>
                            MySQL is free and open-source software under the
                            terms of the GNU General Public License, and is also
                            available under a variety of proprietary licenses.
                            MySQL was owned and sponsored by the Swedish company
                            MySQL AB, which was bought by Sun Microsystems (now
                            Oracle Corporation).
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/250px-MongoDB_Logo.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Mongo DB</h1>
                        </div>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Node Js</h1>
                        </div>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://firebase.google.com/images/social.png"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Firebase</h1>
                        </div>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p> -->
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://laravelnews.imgix.net/images/tailwindcss.png?ixlib=php-3.3.1"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Tailwind</h1>
                        </div>
                        <!-- <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p> -->
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-div">
                <div class="paragraph-footer">
                    <p>Stride towards Sucess</p>
                </div>
                <div class="contact-footer">
                    <span class="footer"></span>
                    <a href=""><span class="contact"></span>Contact US</a>
                </div>
                <div class="links-main-footer">
                    <div class="links-footer">
                        <a href="../index.html">Home</a>
                        <a href="./services.html">Services</a>
                        <a href="./teams.html">Teams</a>
                        <a href="./tech-stack.html">Tech Stack</a>
                    </div>
                    <div class="social-footer">
                        <a
                            target="_blank"
                            href="https://www.instagram.com/yuplezinnovations/"
                            ><img
                                src="https://img.icons8.com/ios/30/ffffff/instagram-new--v1.png"
                        /></a>
                        <a
                            target="_blank"
                            href="https://www.linkedin.com/in/yuplez-innovations-277143240/"
                            ><img
                                src="https://img.icons8.com/ios/30/ffffff/linkedin-circled--v1.png"
                        /></a>
                        <a target="_blank" href=""
                            ><img
                                src="https://img.icons8.com/ios/30/ffffff/facebook-new.png"
                        /></a>
                    </div>
                </div>
                <div class="last-footer">
                    <div class="terms-footer">
                        <a href="./terms-and-conditions.html"
                            >Terms and Conditions</a
                        >
                    </div>
                    <div class="copyrights-footer">
                        <p>Copyright © 2022. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../public/javascript/tech-stack.js"></script>
    </body>
</html>
