<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/styles/nav.css" />
        <link rel="stylesheet" href="../public/styles/footer.css" />
        <link rel="stylesheet" href="../public/styles/tech-stack.css" />
        <title>Yuplez | Our Tech Stack</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <a class="toggle-dark-mode">Toggle</a>
                    <li><a class="nav_atag" href="#">Home</a></li>
                    <li><a class="nav_atag" href="#">About</a></li>
                    <li><a class="nav_atag" href="#">Services</a></li>
                    <li><a class="nav_atag" href="#">Team</a></li>
                    <li>
                        <a class="contact_nav nav_atag" href="#">Let's Build</a>
                    </li>
                    <li>
                        <a class="nav_atag" href="./views/tech-stack.html"
                            >Tech Stack</a
                        >
                    </li>
                </ul>
                <h1 class="logo">Yuplez</h1>
            </div>
        </nav>

        <section class="our-tech-stack-section">
            <div class="heading-tech-stack">
                <h1>Our Tech Stack</h1>
            </div>
            <div class="main-tech-stack">
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>HTML</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>CSS</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Javascript</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>React Js</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>React Native</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Bootstrap</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>MySQL</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Mongo DB</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Node Js</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Firebase</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
                <div class="tech-stack">
                    <div class="image-main-div">
                        <img
                            src="https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg"
                            alt=""
                        />
                    </div>
                    <div class="content-main-div">
                        <div class="content-div">
                            <h1>Tailwind</h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Nostrum, quae? Rerum tempore, minima qui
                            adipisci sequi ab cum earum, officiis nihil eius
                            commodi quis maxime quae facere beatae velit
                            veritatis.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-links">
                <h1>Links</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    nesciunt assumenda enim veniam. Nam, distinctio. Sed fuga
                    alias velit. Officiis eveniet blanditiis molestiae dolorem
                    dolore at odit maiores iusto corporis.
                </p>
                <p>
                    Email :
                    <a href="mailto:yuplezinnovations@gmail.com"
                        >yuplezinnovations@gmail.com</a
                    >
                </p>
                <p>Phone : <a href="tel:+918667057114">8667057114</a></p>
            </div>

            <div class="footer-links">
                <h1>Social Media</h1>
                <ul>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Linkedin</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </div>
        </footer>

        <script src="./public/javascript/black-theme.js"></script>
    </body>
</html>
