footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background: #080808;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
}

.footer-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph-footer {
    width: 100%;
    height: 20%;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-footer {
    width: 100%;
    height: 20%;
    font-size: 2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .contact {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
} */
/* 
.footer {
    position: absolute;
    width: 15rem;
    height: 20%;
    border: 1px solid var(--primary);
    transform: translateX(-50%);
} */

.contact-footer a {
    position: relative;
    width: 15rem;
    /* border: 1px solid var(--primary); */
    text-decoration: none;
    color: var(--primary);
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.links-main-footer {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.links-footer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links-footer a {
    width: 20%;
    border: 1px solid var(--primary);
    padding: 1% 3%;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.links-footer a:hover {
    background: linear-gradient(var(--first), var(--second), var(--third));
    /* color: var(--darkModeSecondary); */
}

.social-footer {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.social-footer a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    padding: 5%;
    transition: all 0.3s ease-in-out;
}

.social-footer a:hover {
    background: linear-gradient(var(--first), var(--second), var(--third));
}

.social-footer a img {
    border-radius: 50%;
}

.links-main-footer a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 300;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: center;
}

.last-footer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
}

.last-footer a {
    color: var(--primary);
    /* text-decoration: none; */
}


@media (max-width: 600px) {
    footer
    {
        height: fit-content;
    }
    .links-main-footer
    {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .links-footer a
    {
        width: auto;
        margin-left: 5%;
    }
    .social-footer
    {
        width: 50%;
        align-self: center;
    }
    .last-footer
    {
        text-align: center;
        margin: 2% 0;
        text-align: center;
    }
    .paragraph-footer
    {
        margin: 4% 0;
        text-align: center;
    }
}