@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --primary: #efeeee;
    --accent: #3696b5;
    --first: #23c2ba;
    --second: #2dacb8;
    --third: #3a8bb4;
    --darkModePrimary: #2e3033;
    --darkModeSecondary: #1e1e1e;
    --lightshadow: rgba(255, 255, 255, 1);
    --lightdarkshadow: rgba(158, 158, 158, 0.33);
}

/* toggle */

.switch-holder-mobile {
    display: none;
}

.switch-label {
    width: 150px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
        inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: "OFF";
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: "ON";
    color: #fff;
    background-color: var(--darkModeSecondary);
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px var(--darkModeSecondary);
}

/* toggle ends */
/* toggle */

.switch-label-mobile {
    width: 150px;
}

.switch-label-mobile i {
    margin-right: 5px;
}

.switch-toggle-mobile {
    height: 40px;
}

.switch-toggle-mobile input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle-mobile input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
        inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle-mobile input[type="checkbox"] + label::before {
    position: absolute;
    content: "OFF";
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
}

.switch-toggle-mobile input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: "ON";
    color: #fff;
    background-color: var(--darkModeSecondary);
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px var(--darkModeSecondary);
}

/* toggle ends */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

/* dark mode */

.navbar.dark-mode {
    background: var(--darkModePrimary);
}

.nav_atag.dark-mode {
    background: rgba(30, 30, 30, 0.7);
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.17),
        10px 10px 20px rgba(30, 30, 30, 0.33),
        inset 8px 8px 16px rgba(52, 49, 49, 0.27),
        inset -8px -8px 16px rgba(30, 30, 30, 0.25);
    color: var(--primary);
}

.nav_atag:hover.dark-mode {
    background: rgba(30, 30, 30, 0.7);
    box-shadow: inset 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px rgba(30, 30, 30, 0.25);
}

.logo.dark-mode {
    color: var(--primary);
}

.navbar-container .hamburger-lines .line.dark-mode {
    background: var(--primary);
}

.navbar .menu-items.dark-mode {
    background: var(--darkModePrimary);
}

.switch-toggle input[type="checkbox"] + label {
    box-shadow: inset -8px -8px 15px rgba(0, 0, 0, 0.1),
        inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"]:checked + label::before {
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.17),
        inset 10px 10px 20px rgba(30, 30, 30, 0.33);
}

.contact_nav.dark-mode {
    color: #000000 !important;
    transition: all 1s ease-in-out !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), -1px -1px 3px #4c63b0 !important;
    box-shadow: 2px 2px 6px 0 #4c63b0, -4px -4px 6px rgba(0, 0, 0, 0.5) !important;
}

.switch-toggle-mobile input[type="checkbox"] + label {
    box-shadow: inset -8px -8px 15px rgba(56, 53, 53, 0.6),
        inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

/* dark mode ends */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    position: fixed;
    /* position: relative; */
    width: 100%;
    background: var(--primary);
    color: #000;
    z-index: 100;
    /* box-shadow: 5px 5px 20px #a8a8a8; */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    font-size: 1.1rem;
}

.nav_atag {
    padding: 10px 15px;
    margin: 0px 10px;
    border-radius: 10px;
    background: var(--primary);
    color: #000;
    /* box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
        -4px -4px 6px rgba(255, 255, 255, 1); */
}

.contact_nav {
    background: linear-gradient(
        45deg,
        var(--first),
        var(--second),
        var(--third)
    ) !important;
    color: #efeeee !important;
    transition: all 1s ease-in-out !important;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5), -1px -1px 3px #4c63b0 !important;
    box-shadow: 2px 2px 6px 0 #4c63b0, -4px -4px 6px rgba(255, 255, 255, 0.5) !important;
}

.contact_nav:hover {
    background: linear-gradient(
        var(--first),
        var(--second),
        var(--third)
    ) !important;
}

.nav_atag {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav_atag:hover {
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    box-shadow: 10px 10px 15px #bababa, -10px -10px 15px #ffffff;
}

@media (max-width: 847px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 600px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
    .switch-holder {
        display: none;
    }
    .switch-holder-mobile {
        display: flex;
    }
}
