@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/* dark theme */

.content-service h1.dark-mode {
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.17),
        10px 10px 20px rgba(30, 30, 30, 0.33),
        8px 8px 16px rgba(52, 49, 49, 0.27),
        -8px -8px 16px rgba(30, 30, 30, 0.25);
}

.content-service.dark-mode {
    color: var(--primary);
}

/* dark theme ends */

.services-section {
    /* background: var(--primary); */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.service-main-div {
    width: 200%;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    /* overflow: hidden; */
}

.service-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.service-div:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.content-service {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading-services {
    display: flex;
    vertical-align: middle;
    margin-left: 1.25rem;
    transform: translateX(-50%);
    line-height: 1.1;
}

.heading-services span {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(32px, 3vw, 8vw);
    padding: 5%;
    font-family: "Monoton", cursive;
}

.content-service h1 {
    padding: 2% 15%;
    text-align: center;
    font-size: 2.2rem;
    background: rgba(35, 198, 234, 0.01);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.62),
        10px 10px 5px rgba(158, 158, 158, 0.33),
        inset 8px 8px 5px rgba(52, 49, 49, 0.27),
        inset -1px -1px 5px rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}

.content-service p {
    padding: 5%;
}

.image-service {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("https://images.unsplash.com/photo-1547658719-da2b51169166?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464")
        center/cover no-repeat;
}


@media (max-width: 600px) {
    .service-main-div
    {
        height: fit-content;
        flex-direction: column;
    }
    .service-div
    {
        height: fit-content;
        flex-direction: column !important;
    }
    .content-service
    {
        width: 95%;
        text-align: justify;
    }
    .image-service
    {
        width: 20rem;
        height: 15rem;
        margin: 5% 0;
    }
}